<div class="container-fuild con">
    <div class="row">
        <div class="d-flex">
        <div class="col-sm-2  ">
           <img class="rounded-circle" width="95" height="105" src="assets/logo.png">
        </div>
        <div class="col-sm-8">
            <h3 class="text-center mt-3 p-2 rr ">BRARAT RASHTRA SAMITHI </h3>
        </div>
        <div class="col-sm-2 ">
            <img class="rounded-circle" width="95" height="100" src="assets/kcrrr.jfif">
            <img class="rounded-circle" width="95" height="105" src="assets/ktr.jfif">
        </div>
        </div>
    </div>
    <div class="row  rr">
        <div class="col-sm fw-bold">
            <marquee width="60%" direction="left"  scrollamount="5">
                "Ab ki Baar Kisan sarkar" ,   Talagana people Heart Beat is a BRS Party,  we are always with u
                </marquee>

        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-7">
            <img class="rounded" width="750"  height="407"  src="assets/person.jfif">
        </div>
        <div class="col-sm-5">
            <div class="card border-0 " height="407">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="card c1" >
                                <i class="bi bi-file-person text-center icon " routerLink="about"></i>
                                <p class="text-center p-2" >About</p>
                            </div>
                        </div>
                        <div class="col ">
                            <div class="card c2">
                                <i class="bi bi-play-btn text-center icon "></i>
                                <p class="text-center p-2">Media</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col ">
                            <div class="card c3">
                                <i class="bi bi-person-fill-up text-center icon"></i>
                                <p class="text-center p-2">admin</p>
                            </div>
                        </div>
                        <div class="col ">
                            <div class="card c4">
                                <i class="bi bi-person-fill-up text-center icon"></i>
                                <p class="text-center p-2">user</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row r1 mt-1">
        <div class="col-sm-4">
            <img class="rounded mt-3" width="155" height="140" src="assets/image.jfif">
        </div>
        <div class="col-sm-4">
            <p class="mt-5">iamramuluganta gmail.com</p>
            <p>9849771866</p>
             </div>
        <div class="col-sm-4">
            <p>Address</p>
            <p>H.no</p>
            <p>vil:Haripuram</p>
            <p>Mandl:Kolanuru</p>
            <p>District:peddapali</p>
        </div>
    </div>

</div>
