<div class="container">
    <div class="row">
        <h2 class="text-center hh fw-bold ">Ganta RamuluYadhav</h2>
        <div class="col-sm-3">
            <img class="rounded" width="280" height="180"src="assets\person.jfif">
            <h3 class="sh mt-3 fw-bold" routerLink="images">Photo's</h3>
            <h3 class="sh fw-bold" routerLink="vedio">Video's</h3> 
            <h3 class="sh fw-bold" routerLink="/mainpage">Logout</h3>   
        </div>
        <div class="col-sm-9">
            <router-outlet></router-outlet>
        </div>
       
    </div>
</div>
