<div class="container-fluid">
    <div class="row">
        <div class="d-flex">
        <div class="col-sm-2  ">
           <img class="rounded-circle" width="95" height="105" src="assets/logo.png">
        </div>
        <div class="col-sm-8">
            <h1 class="text-center mt-3 p-2 rr fw-bold">BHARAT RASHTRA SAMITHI </h1>
        </div>
        <div class="col-sm-2 ">
            <img class="rounded-circle" width="95" height="100" src="assets/kcrrr.jfif">
            <img class="rounded-circle" width="95" height="105" src="assets/ktr.jfif">
        </div>
        </div>
    </div>
    <div class="row  rr">
        <div class="col-sm fw-bold">
            <marquee width="60%" direction="left"  scrollamount="5">
                "Ab ki Baar Kisan sarkar" ,   Talagana people Heart Beat is a BRS Party,  we are always with u
                </marquee>

        </div>
    </div>

</div>
