<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 text-center">
            <img class=" mt-5 " width="100%" height="450" src="assets\photos\wallpaper.jpg">
        </div>
        <div class="col-sm-4">
            <h4 class="hh mt-5 fw-bold">దేశానికే ఆదర్శం తెలంగాణ:</h4>
            <ul class="fw-bold">
                <li>తెలంగాణ రాష్ట్రం సాధించిన ప్రగతి, సాధించిన విజయాలు ఎన్నో కళ్లముందు సాక్షాత్కరిస్తున్నాయి. 
                </li>
                <li> తెలంగాణ రాష్ట్రం ఆర్థికవృద్ధిలో, తలసరి ఆదాయం పెరుగుదలలో, విద్యుత్తు సరఫరాలో, తాగునీరు సాగునీటి సదుపాయంలో, ప్రజా సంక్షేమంలో, పారిశ్రామిక ఐటి రంగాల ప్రగతిలో ఇలా అనేక రంగాలలో తెలంగాణ రాష్ట్రం దేశానికే ఆదర్శంగా నిలవడం మనందరికీ గర్వకారణం
                </li>
            </ul>
            <h4 class="hh mt-5 fw-bold">కరెంట్ సమస్యలకు చెక్:</h4>
            <ul class="fw-bold">
                <li>రాష్ట్రంలో నేడు అన్ని రంగాలకూ నిరంతరాయంగా, రైతులకు ఉచితంగా, 24 గంటలూ నాణ్యమైన విద్యుత్ సరఫరా చేస్తున్న దేశంలోని ఏకైక రాష్ట్రం తెలంగాణ. 
                </li>
                <li>  రాష్ట్రం ఏర్పడేనాటికి ఉన్న స్థాపిత విద్యుత్ సామర్థ్యం కేవలం 7,778 మెగావాట్లు మాత్రమే.
                </li>
                <li>ప్రభుత్వం చేసిన కృషి ఫలితంగా నేడు తెలంగాణ రాష్ట్రంలో స్థాపిత విద్యుత్ సామర్థ్యం 17,305 మెగావాట్లు. సోలార్ విద్యుదుత్పత్తిలో రాష్ట్రం గత ఎనిమిదేళ్ళలో 74 మెగావాట్ల నుండి 4,478 మెగావాట్ల రికార్డు స్థాయి పెరుగుదల సాధించింది</li>
            </ul>
        </div>
    </div>
</div>
