<div class="container">
    <div class="row">
        <h3 class="text-center hh ">Ganta RamuluYadhav</h3>
        <div class="col-sm-2">
            <img class="rounded" width="180" height="120"src="assets\p3.jfif">
        </div>
        <div class="col-sm-10 mt-3">
           <p>GantaRamulu(born 12 May 1976), frequently known by his initials Ramanna, is an Indian politician currently representing the peddapali constituency and serving as the leader of the opposition in the Telangana Legislative Zila Parshad. </p> 
           <h5 class="mt-5 sh">Earliylife and Education</h5>
           <hr>
           <p>GantaRamulu was born to GantaRajaiah and late GantaKomuramma on 12 May 1976 in Haripuram village, peddapali ,State ( Telangana). He is of the BC-Yadhav caste. Ramulu has one sister and  three brothers. He Completed Inter in Arts collage and Degree in open  University, Karimnager</p>
           <h5 class="mt-5 sh">PersonlLife</h5>
           <hr>
           <p>Ramulu is married to Akshitha and has two children.His son name is Ganta AdvaitRam and His daughter name is vighanathri. Ramulu is proficient in Telugu, English and Hindi. He lives with his family at Bankcolony ,Karimnagar.</p>
           <h5 class="mt-5 sh">Political Career</h5>
           <hr>
           <h6 class="ssh">ZPTC, Odela Mandal, District: Peddapalli </h6>
            <p>JULY 2019 – PRESENT </p>
           <p>  One of the just 2 ZPTC’s won from congress party in Peddapalli 
            district. 
             One of the just 2 re-elected ZPTC’s in Peddapalli, 
            </p>
            <h6 class="mt-3 ssh">ZPTC, Odela Mandal, District: Karimnagar</h6>
            <p>JULY 2014 – JULY 2019</p>
            <p> Elected as ZPTC from General Category</p>
            <h6 class="mt-3 ssh">MPP, Odela Mandal, District: Karimnagar </h6>
            <p>JULY 2006 – JULY 2011 [No local body elections conducted till 2014]</p>
            <p> Elected as MPP from General Category. <br>
                 District MPP’s forum General Secretory</p>
            
            <h6 class="mt-3 ssh">Sarpanch, Haripuram Village, Mandal: Odela</h6>  
            <p>AUGUST 2001 – JULY 2006 
            </p> 
             <p>Elected as sarpanch unanimously and at the age of 25. <br>
                 District sarpanches forum secretory.<br> 
                 My father won as Grama Panchayat Member (1995-2001)
            </p>
            <h5 class="mt-5 sh text-center">POLITICAL POSITIONS HELD </h5>
            <hr>
            <ul>
                <li>TPCC Strategy Committee Member for Telangana Assembly 
                    Elections-2023</li>
                <li>TPCC Campaign Committee Executive Member for Telangana 
                    Assembly Elections-2023</li>
                <li>TPCC State Official Spokesperson.</li>
                <li>Congress Party Membership Drive Jagtial Constituency 
                    Coordinator</li>
                <li> Dalitha Girijana Athma Gourava Dandora Manakondur 
                    Constituency Coordinator 
                    </li>
                <li>TPCC State Intellectual Cell Convener.</li>
                <li>I am a grassroots organizer who is passionate about the Congress 
                    Party and its mission. I have worked tirelessly to strengthen the party 
                    in the Peddapalli constituency.</li>

              </ul>  

                

           
        </div>
    </div>
</div>

