<div class="container-fluid con">
    <div class="row p-2 sticky-top r1">
        <div class="col-sm">
            <h1 class="text-center fw-bold">Ganta RamuluYadhav</h1>
        </div>
    </div>
    <div class="row rr p-2 sticky-top">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <button type="button" class="btn" routerLink="profile">  Profile</button>  
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn" routerLink="viewpost">Notifications</button>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn" routerLink="complients">Complients</button>
        </div>
       
        <div class="col-sm-2">
            <button type="button" class="btn" (click)="logout()">Logout</button>

        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
