<div class="container-fluid">
  <h3 class="text-center hh mt-3">Registration Page</h3>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div>
        <div class="card car mt-3">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-floating mt-3 mb-3">
                    <input
                      type="file"
                      class="form-control"
                      width="50"
                      id="pwd"
                      placeholder="paste ur photo"
                      name="pswd"
                    />
                    <label for="file">Pohto</label>
                  </div>
                  <div class="form-floating mt-3 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      width="50"
                      id="pwd"
                      placeholder="paste ur photo"
                      name="pswd"
                    />
                    <label for="text">Fristname</label>
                  </div>
                  <div class="form-floating mt-3 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      width="50"
                      id="pwd"
                      placeholder="paste ur photo"
                      name="pswd"
                    />
                    <label for="text">Lastname</label>
                  </div>
                  <div class="form-floating mt-3 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      width="50"
                      id="pwd"
                      placeholder="paste ur photo"
                      name="pswd"
                    />
                    <label for="text">Username</label>
                  </div>
                  <div class="form-floating mt-3 mb-3">
                    <input
                      type="password"
                      class="form-control"
                      width="50"
                      id="pwd"
                      placeholder="paste ur photo"
                      name="pswd"
                    />
                    <label for="password">Password</label>
                  </div>
                  <div class="form-floating mt-3 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      width="50"
                      id="pwd"
                      placeholder="paste ur photo"
                      name="pswd"
                    />
                    <label for="text">Fathername</label>
                  </div>

                  <div class="text-center mt-3">
                    <button
                      class="btn btn-primary form-control rounded bb"
                      type="submit" 
                    >
                      submit
                    </button>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-floating mt-3 mb-3">
                    <input
                      type="number"
                      class="form-control"
                      width="50"
                      id="pwd"
                      placeholder="paste ur photo"
                      name="pswd"
                    />
                    <label for="Number">Phone Number</label>
                  </div>
                  <div class="input-group">
                    <label>Gender</label>
                    <input
                      type="radio"
                      name="gender"
                      value="male"
                      class="d-inline p-2 bg-primary w-25"
                      formControlName="gender"
                    />Male
                    <input
                      type="radio"
                      name="gender"
                      value="female"
                      class="d-inline p-2 bg-dark w-25"
                      formControlName="gender"
                    />Female
                    <!-- <span class="highlight"></span>
                                    <span class="bar"></span> -->
                  </div>
                  <div class="form-floating mt-3 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      width="50"
                      id="pwd"
                      placeholder="paste ur photo"
                      name="pswd"
                    />
                    <label for="text">Caste</label>
                  </div>
                  <div class="form-floating mt-3 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      width="50"
                      id="pwd"
                      placeholder="paste ur photo"
                      name="pswd"
                    />
                    <label for="text">Village</label>
                  </div>
                  <div class="form-floating mt-3 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      width="50"
                      id="pwd"
                      placeholder="paste ur photo"
                      name="pswd"
                    />
                    <label for="text">Mandal</label>
                  </div>
                  <div class="form-floating mt-3 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      width="50"
                      id="pwd"
                      placeholder="paste ur photo"
                      name="pswd"
                    />
                    <label for="text">District</label>
                  </div>
                  <p class="mt-5 pt" routerLink="/user-log">you already Account go to login</p>
                </div>
              </div>

              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
