<div class="container-fluid con">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card border-0 ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-7">
                            <img class="rounded" width="730"  height="400"  src="assets/person.jfif">
                        </div>
                        <div class="col-sm-5 text-center">
                            <p class="pp mt-3">The Most Powerful</p>
                            <p class="pp">Leadership To You  Have</p>
                            <p class="pp">Is Your Own Personal Example</p>
                            
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
        
        
        
    </div>
</div>
