<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <img class="mt-1" width="1337" height="540" src="assets\photos\leader.jpg">
            <!-- !-- <h1 class="animate-charcter" style="font-size: 200px;">THE MOST POWERFUL <br>LEADERSHIP TO YOUR HAVE <br>IS YOUR OWN PERSONAL EXAMPLE</h1> --> -->
            <p class="pp">THE MOST POWERFUL </p>
            <p>LEADERSHIP TO YOUR HAVE </p>
            
            <p>IS YOUR OWN PERSONAL EXAMPLE</p>
        </div>
    </div>
</div>
