.con{
 
  height: 410px;
    
}
.col{
    background-color:white;
    color: black; 

}

.car{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  background-color: #fa488f;
  

}
.pp{
    font-size: 20px ;
    color: white;
    
    

   
}