<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div *ngFor="let r of notification">
        <div class="card mb-2  rounded">
          <div class="card-header">
            <p>
              <span>{{ r.title }}</span>
            </p>
          </div>
          <div class="card-body">
            <div class="container fw-bold">
              <div class="row">
                <div class="col-sm-4">
                  <ng-container *ngIf="r.filetype === 'video'">
                    <video width="200" height="200" controls>
                      <source src="{{ r.filepath }}" type="video/mp4" />
                    </video>
                  </ng-container>
                  <ng-container *ngIf="r.filetype === 'photo'">
                    <img src="{{ r.filepath }}" alt="image" />
                  </ng-container>
                  <br />
                  <button type="button" class="btn">
                    <i class="bi bi-hand-thumbs-up" (click)="like(r)"></i>
                    <span>{{ r.like }}</span>
                  </button>
                </div>
                <div class="col-sm-4">
                  <form [formGroup]="uploadform">
                    <div class="form-floating">
                      <textarea
                        class="form-control"
                        placeholder="write a comment here"
                        id="floatingTextarea"
                        formControlName="comments"
                      ></textarea>
                      <label for="floatingTextarea">Comments</label>
                    </div>

                    <div class="text-center mt-3">
                      <button
                        class="btn btn-primary"
                        type="submit"
                        (click)="comment(r)"
                      >
                        submit
                      </button>
                    </div>
                  </form>
                </div>
                <div class="col-sm-4">
                  <div>
                    <p *ngFor="let c of r.notifications">
                      <span class="ss">{{ c.comments }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
