<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div *ngFor="let r of posts">
        <div class="card">
          <div class="card-body">
            <div class="container fw-bold">
              <div class="row">
                <div class="col-sm-6">
                  <p>
                    video/photoname:<span>{{ r.title }}</span>
                  </p>
                  <p>id:<span>{{r._id}}</span></p>

                  
                  <p>like:<span>{{r.like}}</span></p>
                  <p>comments:{{r.commentsdetails[0]?.comments}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-2"></div>
  </div>
</div>
