<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div *ngFor="let r of posts">
        <div class="card">
          <div class="card-body">
            <div class="container fw-bold">
              <div class="row">
                <div class="col-sm-6">
                  <p>
                    Title:<span>{{ r.title }}</span>
                  </p>
                  <p>like:<span>{{r.like}}</span></p>
                  <label for="">Comments</label>
                  <p *ngFor="let c of r.notifications" ><span>{{c.comments}}</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-2"></div>
  </div>
</div>
