<div class="container-fluid con">
  <div class="row sticky-top con">
    <div class="d-flex">
      <div class="col-sm-2">
        <img
          class="rounded-circle"
          width="95"
          height="105"
          src="assets/logo.png"
        />
      </div>
      <div class="col-sm-8">
        <h1 class="text-center mt-3 p-2 rr fw-bold">BHARAT RASHTRA SAMITHI</h1>
      </div>
      <div class="col-sm-2">
        <img
          class="rounded-circle"
          width="95"
          height="100"
          src="assets/kcrrr.jfif"
        />
        <img
          class="rounded-circle"
          width="95"
          height="105"
          src="assets/ktr.jfif"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 ">
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <video  height="400" width="750" controls>
              <source src="assets\videos\videoplayback.mp4" type="video/mp4">
           </video>
          </div>
          <div class="carousel-item">
            <video width="750" height="400" controls>
              <source src="assets\videos\ramakka.mp4" type="video/mp4">
           </video>
          </div>
          <div class="carousel-item">
            <video width="750" height="400" controls>
              <source src="assets\videos\song.mp4" type="video/mp4">
           </video>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-sm-4">
      <form [formGroup]="Loginform">
        <div class="form-floating mt-3 mb-3">
          <input
            type="text"
            class="form-control rounded-pill"
            id="floatingInput"
            placeholder="Username"
            formControlName="username"
          />
          <div
            class="text-danger"
            *ngIf="username.errors?.['required'] && (username.dirty || username.touched)"
          >
            username is required
          </div>
          <div
            class="text-danger"
            *ngIf="username.errors?.['minlength'] && (username.dirty || username.touched)"
          >
            username too short
          </div>
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control rounded-pill"
            id="floatingPassword"
            placeholder="Password"
            formControlName="password"
          />
          <div
            class="text-danger"
            *ngIf="password.errors?.['required'] && (password.dirty || password.touched)"
          >
            Password is required
          </div>
          <div
            class="text-danger"
            *ngIf="password.errors?.['minlength'] && (password.dirty || password.touched)"
          >
            Password too short
          </div>
          <label for="floatingPassword">Password</label>
        </div>
        <div class="text-center mt-3">
          <button
            class="btn btn-primary form-control rounded-pill"
            type="submit"
            (click)="user()"
          >
            Login
          </button>
        </div>
        <p class="mt-3 text-center reg" routerLink="/user-reg">
          CREATE NEW ONE
        </p>
        <a
          type="button"
          class="nav-link text-center f1"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="changepassword()"
        >
          Forgot Password
        </a>


        <!-- Button trigger modal -->
        
        <!-- Modal -->
        <div
          class="modal fade border-0"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Forgot Password
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="card">
                  <div class="card-body">
                    <form [formGroup]="Updateform">
                      <div class="row">
                        <div class="col-sm">
                          <div class="form-floating mb-3">
                            <input
                              type="password"
                              class="form-control"
                              id="floatingInput"
                              placeholder="password"
                              formControlName="password"
                            />
                            <label for="floatingInput">password</label>
                          </div>
                          <div class="form-floating">
                            <input
                              type="password"
                              class="form-control"
                              id="floatingPassword"
                              placeholder="Password"
                              formControlName="confirmpassword"
                            />
                            <label for="floatingPassword"
                              >confirm Password</label
                            >
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="button" class="btn btn-primary">
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5 art">
      <h1 class="text-center h2h fw-bold">ARTICALS</h1>
      <div class="mt-3 d-flex">
      <div class="col-sm-4">
        <div class="card border-0 rounded" style="width: 350px;">
          <img src="assets\photos\Harishrao.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text fw-bold">బీఆర్ఎస్ అధినేత కేసీఆర్ (KCR) ప్రజల్లోకి వెళ్తే మంత్రులకు నిద్ర పట్టడం లేదని మాజీమంత్రి, సిద్దిపేట ఎమ్మెల్యే హరీష్‌రావు (Harish Rao) అన్నారు. శనివారం నాడు జహీరాబాద్ లో బీఆర్ఎస్ కార్యకర్తల సమావేశం నిర్వహించారు. ఈ సమావేశంలో హరీష్‌రావు పాల్గొని కాంగ్రెస్ ప్రభుత్వంపై తీవ్ర విమర్శలు గుప్పించారు</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 rounded" style="width: 350px;">
          <img src="assets\photos\ktr2.jfif" height="220px" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text fw-bold">హైదరాబాద్: బీజేపీ తెలంగాణ రాష్ట్ర అధ్యక్షుడు బండి సంజయ్ చేపట్టిన ప్రజా సంగ్రామ యాత్రపై టీఆర్ఎస్ వర్కింగ్ ప్రెసిడెంట్, మంత్రి కేటీఆర్ విమర్శలు గుప్పించారు. బండి సంజయ్‌కు పాలమూరులో అడుగుపెట్టే అర్హత లేదని, ఆయన చేపట్టినది ముమ్మాటికీ ప్రజా వంచన యాత్ర అని విమర్శించారు. పాలమూరు రైతులకు ద్రోహం చేస్తూ యాత్రలు చేస్తారా? అని కేటీఆర్ నిలదీశారు</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 rounded" style="width: 350px;">
          <img src="assets\photos\Sabhita Indra Reddy.jpg" width="250px" height="220px" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text fw-bold">మొక్క దశ నుంచి వృక్షమైనట్టు.. లేగదూడ కోడెగిత్త అయినట్టు.. 22 ఏండ్లు పూర్తిచేసుకొని 23వ ఏట అడుగుపెడుతున్న బీఆర్‌ఎస్‌ కోడెగిత్తలా ఉడుకునెత్తురుతో ఉరకలేస్తున్నది. కోడెగిత్త అయినా దాని లక్షణం మారదు. అట్లనే టీఆర్‌ఎస్‌ బీఆర్‌ఎస్‌గా రూపాంతరం చెందినా మా డీఎన్‌ఏ మారలేదు. జెండా మారలేదు. మా పనితీరూ మారలేదు. మా నాయకుడు మారలేదు. ఎన్నికల గుర్తూ మారలేదు.</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
 
  <div class="row r1 mt-2">
    <div class="col-sm-4">
        <img class="rounded mt-3" width="155" height="140" src="assets/image.jfif">
    </div>
    <div class="col-sm-4">
        <p class="mt-5">iamramuluganta gmail.com</p>
        <p>9849771866</p>
         </div>
    <div class="col-sm-4">
        <p>Address</p>
        <p>H.no</p>
        <p>vil:Haripuram</p>
        <p>Mandl:Kolanuru</p>
        <p>District:peddapali</p>
    </div>
</div>
  

</div>
