<div class="container">
    <div class="row">
       
        <div class="col-sm">
            <h5 class="hh">Photos</h5>
            <hr>
            <p class="hh">Visit To Mallana Temple in Odela</p>
            <img class="" width="400" height="380"src="assets\photos\p1.jfif">
            <hr>
            <p class="hh">Round Table Meeting BC Velfare</p>
            <img class="" width="400" height="380"src="assets\photos\p2.jfif">
            <hr>
            <p class="hh">Distribute the Books to Poor Peole</p>
            <img class="" width="400" height="380"src="assets\photos\p3.jfif">

        </div>
    </div> 
</div>
